<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <title>회원가입</title>
</head>

<body>
  <div id="wrap">
    <div class="container1200">
      <h2>회원가입</h2>
      <form action="" method="post">
        <ul>
          <li>아이디: <input type="text" name='subject' id="" class='inputStyle'></li>
          <li>비밀번호: <input type="password" name='userpw' id ="" class='inputStyle'></li>
          <li>비밀번호 확인: <input type="password" name='checkpw' id ="" class='inputStyle'></li>
          <li>이름: <input type="text" name="username" id ="" class='inputStyle'></li>
        </ul>
        <div class="btnBox">
          <input type="submit" class="boardBtn" value="회원가입">
      </div>

      </form>
    </div>
  </div>
</body>

</html>